@import url('normalize.css');

  

h1 {
  font-family: helvetica;
  text-align: center;
}

body {
  
  background: transparent url(http://backgrounds.picaboo.com/download/26/66/266089e22b2a4b2fb77f19973082e54f/Bowling%202.jpg) 0 0 no-repeat;
  background size: 100%;
  font-family: helvetica;
  color: #ecf0f1;
}

.scorecard {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

table, th, td {
  border: solid 1px #ecf0f1;
}

td, th {
  padding: 1em;
}

input {
	text-align: center;
	color: black;
}
