@import url('normalize.css');


h1 {
  color: #B80000;
  font-family: arial;
  text-align: center;
}

h3 {
  color: #B80000;
  text-align: center;
}

body {
  color: #ecf0f1;
}

.scorecard {
  text-align: center;
  width: 100%;
}

table, th, td {
  border: solid .2em #ecf0f1;
}

td, th {
  padding: .5em;
}

input {
	text-align: center;
	color: black;
}

.buttons {
  margin-top: 1em;
  padding:5px;
  background-color: #dcdcdc;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
  width: 8em;
}


input {
  width: 1.3em;
}


