@import url('normalize.css');

  

h1 {
  color: #B80000;
  font-family: arial;
  text-align: center;
}

body {
  
  color: #ecf0f1;
}

.scorecard {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

table, th, td {
  border: solid 1px #ecf0f1;
}

td, th {
  padding: 1em;
}

input {
	text-align: center;
	color: black;
}

.buttons {
  margin-top: 2em;
  padding:5px;
  background-color: #dcdcdc;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
  width: 8em;
}

form {
	width: 6em;
}

input {
	width: 1.3em;
}


