<!DOCTYPE html>
<html>
<head>
  <link href="stylesheet.css" rel="stylesheet" type="text/css">
  <title>Bowling Scorecard</title>
</head>
<body>
  <div style='position:absolute;z-index:-100;left:0;top:0;width:100%;height:100%'>
  <img src='Bowling.jpg' style='width:100%;height:100%' alt='[]' />
  </div>
  <section class="scorecard">
    <h1>Bowling Scorecard</h1>
    <table align="center">
      <tr>
        <th>Frame</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
      </tr>
      <tr>
        <td>Score</td>
        <td>
        <form id="frame1">
          <input name="frame1pins1" type="text" tabindex="2" maxlength="1" size="1">
          <input name="frame1pins2" type="text" tabindex="2" maxlength="1" size="1">
        </form>
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
            <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
          <input tabindex="2" maxlength="1" size="1" name="shot3">
        </td>
      </tr>
      <tr>
        <td><strong>Total Score</strong></td>
        <td id="total1"></td>
        <td id="total2"></td>
        <td id="total3"></td>
        <td id="total4"></td>
        <td id="total5"></td>
        <td id="total6"></td>
        <td id="total7"></td>
        <td id="total8"></td>
        <td id="total9"></td>
        <td id="total10"></td>
      </tr>
    </table>
  </section>
<section align="center">
  <input class="buttons" type="hidden" value="yes" name="submitted">
  <input class="buttons" type="submit" onclick="calculate()">
  <input class="buttons" type="reset" id="reset" value="Reset" onClick="window.location.reload()">
</section>
<script src="https://code.jquery.com/jquery-1.11.2.js"></script>
  <script src="bowling.js"></script>
  <script src="interface.js"></script>
      <script type="text/javascript">
    

        
  
        function calculate() {
        var x,y,z,input1
        x=document.getElementById("frame1");
        y=x.elements["frame1pins1"].value;
        z=x.elements["frame1pins2"].value;
        game.pinsDown(y)
        game.pinsDown(z)
        game.totalPoints
        
        document.getElementById("total1").innerHTML=(game.totalPoints);
        
        }        

        
       
       


        

        
      </script>
</body>
</html>