<!DOCTYPE html>
<html>
<head>
  <link href="stylesheet.css" rel="stylesheet" type="text/css">
  <title>Bowling Scorecard</title>
</head>
<body>
  <section class="scorecard">
    <h1>Bowling Scorecard</h1>
    <table>
      <tr>
        <th>Frame</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
      </tr>
      <tr>
        <td>Score</td>
        <td>
          <input tabindex="2" maxlength="1" size="1" id="shot1">
          <input tabindex="2" maxlength="1" size="1" id="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
            <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
          <input tabindex="2" maxlength="1" size="1" name="shot3">
        </td>
      </tr>
      <tr>
        <td><strong>Total Score</strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </section>

  <input type="hidden" value="yes" name="submitted">
  <input type="submit" value="Calculate Score">
  <input type="reset" value="Reset">

  <script src="js/bowling.js"></script>
</body>
</html>