<!DOCTYPE html>
<html>
<head>
  <link href="stylesheet.css" rel="stylesheet" type="text/css">
  <title>Bowling Scorecard</title>
</head>
<body>
  <div style='position:absolute;z-index:-100;left:0;top:0;width:100%;height:100%'>
  <img src='http://backgrounds.picaboo.com/download/26/66/266089e22b2a4b2fb77f19973082e54f/Bowling%202.jpg' style='width:100%;height:100%' alt='[]' />
  </div>
  <section class="scorecard">
    <h1>Bowling Scorecard</h1>
    <table align="center">
      <tr>
        <th>Frame</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
      </tr>
      <tr>
        <td>Score</td>
        <td>
          <input id="input1" tabindex="2" maxlength="1" size="1" id="shot1">
          <input id="input1" tabindex="2" maxlength="1" size="1" id="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
            <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
        </td>
        <td>
          <input tabindex="2" maxlength="1" size="1" name="shot1">
          <input tabindex="2" maxlength="1" size="1" name="shot2">
          <input tabindex="2" maxlength="1" size="1" name="shot3">
        </td>
      </tr>
      <tr>
        <td><strong>Total Score</strong></td>
        <td><output tabindex="2" maxlength="1" size="1" name="result1"></td>
        <td><output tabindex="2" maxlength="1" size="1" name="result2"></td>
        <td><output tabindex="2" maxlength="1" size="1" name="result3"></td>
        <td><output tabindex="2" maxlength="1" size="1" name="result4"></td>
        <td><output tabindex="2" maxlength="1" size="1" name="result5"></td>
        <td><output tabindex="2" maxlength="1" size="1" name="result6"></td>
        <td><output tabindex="2" maxlength="1" size="1" name="result7"></td>
        <td><output tabindex="2" maxlength="1" size="1" name="result8"></td>
        <td><output tabindex="2" maxlength="1" size="1" name="result9"></td>
        <td><output tabindex="2" maxlength="1" size="1" name="result10"></td>
      </tr>
    </table>
  </section>
<section align="center">
  <input class="buttons" type="hidden" value="yes" name="submitted">
  <input class="buttons" type="submit" onclick="totalPoints()">
  <input class="buttons" type="reset" id="reset" value="Reset" onClick="window.location.reload()">
</section>
  <script src="js/bowling.js"></script>
  <script src="js/interface.js"></script>
      <script type="text/javascript">
      $(document).ready(function() {
       // function totalPoints(){
       //   var text=document.getElementById("input1").value
       // }
      //  game.pinsDown('shot1');
      //  game.pinsDown('shot2');
      // $(document).ready(function() {
      // $('.submit').on('click', function() {
      //  game.totalPoints();
         
      // });
      
    //   $('.decreaseTemp').on('click', function() {
    //     thermostat.decreaseTemperature(1);
    //     updateTemperature();
    //   });
    //   $('.reset').on('click', function() {
    //     thermostat.reset();
    //     updateTemperature();
    //   });
    //   $('.PSM-on').on('click', function() {
    //     thermostat.powerSavingModeSwitch("on");
    //     updateTemperature();
    //   });
    //   $('.PSM-off').on('click', function() {
    //     thermostat.powerSavingModeSwitch("off");
    //     updateTemperature();
    //   });
    // });
     $('#reset').on('click', function() {
        document.location.reload(true);
      });
     });
      </script>
</body>
</html>