<!DOCTYPE html>
<html>
<head>
  <link href="stylesheet.css" rel="stylesheet" type="text/css">
  <title>Bowling Scorecard</title>
</head>
<body>
  <div style='position:absolute;z-index:-100;left:0;top:0;width:100%;height:100%'>
  <img src='Bowling.jpg' style='width:100%;height:100%' alt='[]' />
  </div>
  <section class="scorecard">
    <h1>Bowling Scorecard</h1>
    <table align="center">
      <tr>
        <th>Frame</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
      </tr>
      <tr>
        <td>Score</td>
        <td>
        <form id="frame1">
          <input name="frame1pins1" maxlength="2" size="1">
          <input name="frame1pins2" maxlength="2" size="1">
        </form>
        </td>
        <td>
        <form id="frame2">
          <input name="frame2pins1" maxlength="2" size="1" type="text" required />
          <input name="frame2pins2" maxlength="2" size="1" type="text" required/>
        </form>
        </td>
        <td>
        <form id="frame3">
          <input name="frame3pins1" type="text" maxlength="2" size="1">
          <input name="frame3pins2" type="text" maxlength="2" size="1">
        </form>
        </td>
        <td>
        <form id="frame4">
          <input name="frame4pins1" maxlength="2" size="1">
          <input name="frame4pins2" maxlength="2" size="1">
        </form>
        </td>
        <td>
        <form id="frame5">
          <input name="frame5pins1" maxlength="2" size="1">
          <input name="frame5pins2" maxlength="2" size="1">
        </form>
        </td>
        <td>
        <form id="frame6">
          <input name="frame6pins1" maxlength="2" size="1">
          <input name="frame6pins2" maxlength="2" size="1">
        </form>
        </td>
        <td>
        <form id="frame7">
          <input name="frame7pins1" maxlength="2" size="1">
          <input name="frame7pins2" maxlength="2" size="1">
        </form>
        </td>
        <td>
        <form id="frame8">
          <input name="frame8pins1" maxlength="2" size="1">
          <input name="frame8pins2" maxlength="2" size="1">
        </form>
        </td>
        <td>
        <form id="frame9">
          <input name="frame9pins1" maxlength="2" size="1">
          <input name="frame9pins2" maxlength="2" size="1">
        </form>
        </td>
        <td>
        <form id="frame10">
          <input name="frame10pins1" maxlength="2" size="1">
          <input name="frame10pins2" maxlength="2" size="1">
          <input name="frame10pins3" maxlength="2" size="1">
        </form>
        </td>
      </tr>
      <tr>
        <td><strong>Total Score</strong></td>
        <td id="total1"></td>
        <td id="total2"></td>
        <td id="total3"></td>
        <td id="total4"></td>
        <td id="total5"></td>
        <td id="total6"></td>
        <td id="total7"></td>
        <td id="total8"></td>
        <td id="total9"></td>
        <td id="total10"></td>
      </tr>
    </table>
  </section>
<section id="check" align="center">
  <input class="buttons" name="submit" type="submit" onclick="calculate()" onsubmit="check()">
  <input class="buttons" type="reset" id="reset" value="Reset" onClick="window.location.reload()">
</section>
<script src="https://code.jquery.com/jquery-1.11.2.js"></script>
  <script src="bowling.js"></script>
      <script type="text/javascript">
        function calculate() {
        var game = new Bowling();

        var frame1,frame2,frame3,frame4,frame5,frame6,frame7,frame8,frame9,frame10,pins1f1,pins2f1,pins1f2,pins2f2,pins1f3,pins2f3,pins1f4,pins2f4,pins1f5,pins2f5,pins1f6,pins2f6,pins1f7,pins2f7,pins1f8,pins1f8,pins1f9,pins2f9,pins1f10,pins2f10,pins3f10;
        {
         
        frame1=document.getElementById("frame1");
        {
        pins1f1=frame1.elements["frame1pins1"].value;
        pins2f1=frame1.elements["frame1pins2"].value;
        game.pinsDown(pins1f1)
        game.pinsDown(pins2f1)
        game.totalPoints
        }
          document.getElementById("total1").innerHTML=(game.totalPoints);
        }
      
        {
        frame2=document.getElementById("frame2");
        pins1f2=frame2.elements["frame2pins1"].value;
        pins2f2=frame2.elements["frame2pins2"].value;
        game.pinsDown(pins1f2)
        game.pinsDown(pins2f2)
        game.totalPoints
        
        
        if (frame2.elements["frame2pins1"].value != "")
        {
          document.getElementById("total2").innerHTML=(game.totalPoints);
        }
        }
        {
        frame3=document.getElementById("frame3");
        pins1f3=frame3.elements["frame3pins1"].value;
        pins2f3=frame3.elements["frame3pins2"].value;
        game.pinsDown(pins1f3)
        game.pinsDown(pins2f3)
        game.totalPoints

        if (frame3.elements["frame3pins1"].value != "")
        {
          document.getElementById("total3").innerHTML=(game.totalPoints);
        }
        }
        {
        frame4=document.getElementById("frame4");
        pins1f4=frame4.elements["frame4pins1"].value;
        pins2f4=frame4.elements["frame4pins2"].value;
        game.pinsDown(pins1f4)
        game.pinsDown(pins2f4)
        game.totalPoints

        if (frame4.elements["frame4pins1"].value != "")
        {
          document.getElementById("total4").innerHTML=(game.totalPoints);
        }
        }
        {
        frame5=document.getElementById("frame5");
        pins1f5=frame5.elements["frame5pins1"].value;
        pins2f5=frame5.elements["frame5pins2"].value;
        game.pinsDown(pins1f5)
        game.pinsDown(pins2f5)
        game.totalPoints
        if (frame5.elements["frame5pins1"].value != "")
        {
          document.getElementById("total5").innerHTML=(game.totalPoints);
        }
        }
        {
        frame6=document.getElementById("frame6");
        pins1f6=frame6.elements["frame6pins1"].value;
        pins2f6=frame6.elements["frame6pins2"].value;
        game.pinsDown(pins1f6)
        game.pinsDown(pins2f6)
        game.totalPoints
        if (frame6.elements["frame6pins1"].value != "")
        {
          document.getElementById("total6").innerHTML=(game.totalPoints);
        }
        }
        {
        frame7=document.getElementById("frame7");
        pins1f7=frame7.elements["frame7pins1"].value;
        pins2f7=frame7.elements["frame7pins2"].value;
        game.pinsDown(pins1f7)
        game.pinsDown(pins2f7)
        game.totalPoints

        if (frame7.elements["frame7pins1"].value != "")
        {
          document.getElementById("total7").innerHTML=(game.totalPoints);
        }
        }
        {
        frame8=document.getElementById("frame8");
        pins1f8=frame8.elements["frame8pins1"].value;
        pins2f8=frame8.elements["frame8pins2"].value;
        game.pinsDown(pins1f8)
        game.pinsDown(pins2f8)
        game.totalPoints

        if (frame8.elements["frame8pins1"].value != "")
        {
          document.getElementById("total8").innerHTML=(game.totalPoints);
        }
        }
        {
        frame9=document.getElementById("frame9");
        pins1f9=frame9.elements["frame9pins1"].value;
        pins2f9=frame9.elements["frame9pins2"].value;
        game.pinsDown(pins1f9)
        game.pinsDown(pins2f9)
        game.totalPoints
        if (frame9.elements["frame9pins1"].value != "")
        {
          document.getElementById("total9").innerHTML=(game.totalPoints);
        }
        }
        {
        frame10=document.getElementById("frame10");
        pins1f10=frame10.elements["frame10pins1"].value;
        pins2f10=frame10.elements["frame10pins2"].value;
        pins3f10=frame10.elements["frame10pins3"].value;
        game.pinsDown(pins1f10)
        game.pinsDown(pins2f10)
        game.pinsDown(pins3f10)
        game.totalPoints
        
        document.getElementById("total10").innerHTML=(game.totalPoints);
        }

       
 
        
        };


        
       
       


        

        
      </script>
</body>
</html>